.btn {
  background-color: rgba(255, 0, 13, 0.815);
  color: #ffffff;
  display: inline-block;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
  transition: ease 0.5s all;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 0, 13, 0.411);
}

.btn.orange {
  background-color: #fed136;
  transition: ease 0.9s all; /* Efeito de Transição no botão */
}

.btn.orange:hover {
  background-color: rgb(84, 160, 84);
}
