@import url("../style.css");

#header.page-equipe {
  background-image: url("../../images/background-equipe.jpg");
}

#team {
  background-color: #f3f0e7;
}

#local h1 {
  font-family: "Great Vibes";
  font-size: 80px;
  color: rgba(255, 0, 13, 0.829);
}

#local h2 {
  font-family: "Great Vibes";
  color: rgba(255, 0, 13, 0.829);
  text-transform: lowercase;
  font-size: 40px;
}

#team .img-box-round {
  width: 120px;
  height: 120px;
  border: 2px solid rgb(84, 209, 84);
}

#team .img-box-label:before {
  display: none;
}

#team .row:first-child {
  margin-bottom: 40px;
}

.team-member .description {
  background-color: rgba(0, 0, 0, 0.7);
  border: 5px solid rgba(0, 0, 0, 0.2);
  color: white;
  padding: 20px;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .team-member {
    position: relative;
  }

  .team-member:hover .description {
    display: block;
  }

  .team-member .description {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99; /* Colocar Sobre a imagem debaixo */
    width: 400px;
  }

  /* Arrumando os dois últimos itens */
  .team-member:nth-child(4) .description,
  .team-member:nth-child(5) .description {
    left: auto;
    right: 50%;
  }
}
